body
    font:
        size: 20px
    color: rgb(128,128,128)
    background: black

.navbar
    .active a        
        background-color: transparent !important
    background: none
    border-bottom:
        color: red
        style: double
        width: 3px

.nav-social
    background:
        size: contain
        repeat: no-repeat
        position: left center
    margin-left: 15px
