<!DOCTYPE html>
<html>
    <head>
        <base href="//ksu.edu/ballroom/_alpha/index.html"
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{%block title%}KState Swing & Salsa{%endblock%}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{"static/dancers.gif"|static}}" type="image/gif">
        <link rel="icon" href="{{"static/dancers.svg"|static}}" type="image/svg">
		<link rel="stylesheet" href="{{ "static/main.css"|static }}">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="background-image:url('{{"static/dancers.svg"|static}}')" href="">Swing & Salsa</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="faq.html">FAQ</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="social" href="https://www.facebook.com/groups/5882359073/"><img src="{{"static/facebook.svg"|static}}"></a>
                    <a class="social" href="mailto:ballroom-l@listserv.ksu.edu"><img src="{{"static/email.svg"|static}}"></a>
                    <a class="social" href="http://www.youtube.com/ksuswingsalsa"><img src="{{"static/youtube.svg"|static}}"></a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <div class="container">
            <div class="col-md-12">
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
