{% extends "base.html" %}

{% block content %}
<div class="col-md-8">
    <h1>KSU Swing & Salsa Club</h1>
    <img class="align-center" src="{{"static/dancers.svg"|static}}" width="300px" alt="S&S Logo"></img>
    <p class="main-content" >
        The club was formed to promote the art of dance to K-State students and
        the surrounding community through lessons, special events, and social
        dancing. Our mission is to encourage people of all ages and backgrounds
        to learn, enjoy and share the experience of dancing. Whether you've
        danced all your life or have no dance experience at all, we welcome you
        to KSU Swing & Salsa!
    </p>
</div>
<div class="col-md-4">
    {% include "_facebook_embeded.html" %}
</div>
{% endblock content %}
